<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый студент</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.cs
s">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/class.css" />
</head>
<body>
<form action="#" th:action="@{/addstudent}"
      th:object="${student}" method="post">
    <p>Id: <input type="text" th:field="*{id}" /></p>
    <p>Фамилия студента:
        <input type="text"
               placeholder="Введите фамилию"
               th:field="*{surname}" /></p>
    <p>Имя студента:
        <input type="text"
               placeholder="Введите имя"
               th:field="*{name}" /></p>
    <p>Отчество студента:
        <input type="text"
               placeholder="Введите отчество"
               th:field="*{patronym}"/></p>
    <p>Город:
        <input type="text"
               placeholder="Введите город"
               th:field="*{city}"/></p>
    <p>Пол студента:
        <input type="text"
               placeholder="Введите пол"
               th:field="*{gender}" /></p>
    <p>Возраст студента:
        <input type="text"
               placeholder="Введите возраст"
               th:field="*{age}" /></p>
    <p>Факультет:
        <input type="text"
               placeholder="Введите факультет"
               th:field="*{faculty}" /></p>
    <p>Группа:
        <input type="text"
               placeholder="Введите группу"
               th:field="*{classgroup}" /></p>
    <p><input type="submit" value="Добавить" />
        <input type="reset" value="Сброс" /></p>
</form>
</body>
</html>