<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Институт</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.cs
s">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/class.css" />
</head>
<body>
<div class="container">
    <h1>Студенты</h1>
    <p><a href="addstudent">Добавить студента</a></p>
    <span th:if="${students.size() == 0}">Список студентов пустой</span>
    <table th:if="${students.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Город</td>
            <td>Пол</td>
            <td>Возраст</td>
            <td>Факультет</td>
            <td>Группа</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"/>
            <td th:text="${student.surname}"/>
            <td th:text="${student.name}"/>
            <td th:text="${student.patronym}"/>
            <td th:text="${student.city}"/>
            <td th:text="${student.gender}"/>
            <td th:text="${student.age}"/>
            <td th:text="${student.faculty}"/>
            <td th:text="${student.classgroup}"/>
            <td><a class="btn btn-secondary" th:href="@{'/details/' +
${student.id}}">Подробнее</a></td>
            <td><a class="btn btn-danger" th:href="@{'/students/delete/' +
${student.id}}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>