<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Список абитуриентов</h1>

    <a th:href="@{'/students/create'}" class="btn btn-primary mb-3">Добавить абитуриента</a>

    <span th:if="${students.size() == 0}">Список абитуриента пуст</span>

    <table th:if="${students.size() > 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Пол</th>
            <th>Национальность</th>
            <th>Д.Рождения</th>
            <th>Оценки</th>
            <th>П.Балл</th>
            <th>Почта</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.surname}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.patronymic}"></td>
            <td th:text="${student.gender}"></td>
            <td th:text="${student.nationality}"></td>
            <td th:text="${student.dateOfBirth}"></td>
            <td th:text="${student.examScores}"></td>
            <td th:text="${student.passingScore}"></td>
            <td th:text="${student.email}"></td>
            <td><a th:href="@{'/students/edit/' + ${student.id}}" class="btn btn-secondary">Изменить</a><td>
            <td><a th:href="@{'/students/write/'+ ${student.id}}" class="btn btn-secondary">Отправка</a><td>
            <td><a th:href="@{'/students/delete/' + ${student.id}}" class="btn btn-danger">Удалить</a><td>
        </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>